.border {
	border: var(--border);
	border-radius: var(--size-2xs);
}

.border-top {
	border-top: var(--border);
}

.border-bottom {
	border-bottom: var(--border);
}

.center-content {
	place-content: center;
}

.center-items {
	place-items: center;
}

.center-text {
	text-align: center;
}

.center-xy {
	place-content: center;
	place-items: center;
}

.circle-separator::after {
	content: '•';
}

.flex {
	display: flex;
}

.flex-col {
	flex-direction: column;
}

.gap-2xs {
	gap: var(--size-2xs);
}

.gap-xs {
	gap: var(--size-xs);
}

.gap-s {
	gap: var(--size-s);
}

.gap-m {
	gap: var(--size-m);
}

.gap-l {
	gap: var(--size-l);
}

.gap-xl {
	gap: var(--size-xl);
}

.gap-2xl {
	gap: var(--size-2xl);
}

.grid {
	display: grid;
}

.hover {
	cursor: pointer;

	&:hover {
		filter: brightness(0.95);
	}
}

.justify-between {
	justify-content: space-between;
}

.p-2xs {
	padding: var(--size-2xs);
}

.p-xs {
	padding: var(--size-xs);
}

.p-s {
	padding: var(--size-s);
}

.p-m {
	padding: var(--size-m);
}

.p-l {
	padding: var(--size-l);
}

.p-xl {
	padding: var(--size-xl);
}

.p-2xl {
	padding: var(--size-2xl);
}

.pipe-separator::after {
	margin: 0 var(--size-s);
	content: '';
	border-left: var(--border);
}
