<!doctype html>
<html lang="en">
	<%- include('partials/metadata', locals.title) %>
	<body>
		<div id="root">
			<h1><%= err.status ?? 500 %></h1>
			<p><%= err.message %></p>
			<a href="/">Go back home</a>
			<% if (nodeEnv !== 'production') { %>
			  <pre><%= err.stack %></pre>
			<% } %>
		</div>
	</body>
</html>
