<footer class="footer">
	<p class="copyright">
		© Stebeus 2026.
		<a href="https://opensource.org/license/mit" rel="noopener noreferrer">
      MIT License
    </a>
	</p>
	<a
		href="https://github.com/stebeus"
		target="_blank"
		rel="noopener noreferrer"
	>
		<svg class="svg-icon" width="24" height="24">
			<title>GitHub</title>
			<use href="/icons.svg#github-icon" />
		</svg>
	</a>
</footer>
