<header class="navbar">
  <h1 class="logo" title="Homepage">
    <a href="/">Members Only</a>
  </h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>

      <% if (locals.user == null) { %>
        <li><a href="/log-in">Log in</a></li>
        <li>
          <%- include('button-link', { href: '/sign-up', label: 'Sign up' }) %>
        </li>
      <% } else { %>
        <li><a href="/create-post">Create post</a></li>
        <li>
          <%- include('button-link', { href: '/log-out', label: 'Log out' }) %>
        </li>
      <% } %>
    </ul>
  </nav>
</header>
